.card {
    max-width: 400px;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.full-width {
    width: 100%;
    border: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

mat-radio-button {
    text-decoration:line-through;
}